::ng-deep .p-datatable .p-datatable-thead > tr > th {
    text-align: center;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    word-break: break-all;
}
::ng-deep .p-dialog .p-dialog-content {
    width: 400px;
}
::ng-deep .p-datatable .p-datatable-tbody > tr.p-highlight {
    background: #801339ad;
    color: white;
}

#display{
    display: inline-block;
}
#block{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
#button-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    padding: 5px 15px 5px 0px;
}
#block-buttons-delete{
    @extend #block;
    justify-content: space-around;

}
#td{
    text-align: center;
}