table {
    width: 100%;
    th.mat-header-cell {
        text-align: center;
    }
    th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
        text-align: center;
    }
    #edit-button{
        background-color: rgb(214, 176, 50);
        border-style: none;
        outline:none;
        margin: 5px;
        border-radius: 5px;
        cursor: pointer;
        height: 25px;
        padding: 5px;
        color: white;
        
    }
    #edit-button:active{
        border: 1px solid rgba(128, 128, 128, 0.589);
    }
    #delete-button{
        @extend #edit-button;
        background-color: rgb(214, 61, 50);
    }
  }
